<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br>
    <h1>Login</h1>
    <br>

    <%= display_flash :error %>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>
      <br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>

      <%= f.submit 'Login', class: 'btn btn-block btn-success' %>
    <% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

