<tr>
  <td><%= link_to album.name, admin_album_path(album) %></td>
  <td><%= album.year %></td>
  <td><%= link_to album.artist.name, admin_album_path(album.artist) %></td>
  <td><%= link_to album.genre.name, admin_genre_path(album.genre) %></td>
  <td>
  <div class="btn-group">
  <% if album.user_id == current_user.id %>
    <%= link_to 'Edit', edit_admin_album_path(album), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', admin_album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    <% else %>
    <%= link_to 'Edit', edit_admin_album_path(album), class: 'btn btn-sm btn-primary disabled' %>
    <%= link_to 'Delete', admin_album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger disabled' %>
    <% end %>
    </div>
  </td>
</tr>
