<tr>
  <td><%= link_to track.name, track_path(track) %></td>
  <td><%= track.duration %></td>
  <td><%= track.genre.name %></td>
  <td><%= track.artist.name %></td>
  <td><%= track.album.name %></td>
  <td>
  <div class="btn-group">
<%- unless current_user.favorite_tracks.exists?(id: track.id) -%>
<%= link_to favorite_tracks_path(track_id: track), method: :post, class: 'btn btn-sm btn-primary' do %>
<i class="glyphicon glyphicon-heart-empty"></i>&nbsp;
<% end %>
<%- else -%>
<%= link_to favorite_track_path(track), method: :delete, class: 'btn btn-sm btn-primary' do %>
<i class="glyphicon glyphicon-heart"></i>&nbsp;
<% end %>
<%- end -%>
<%= link_to track.youtubelink, class: 'btn btn-sm btn-primary', target: :_blank do %>
<i class="glyphicon glyphicon-play"></i>&nbsp;
<% end %>
    </div>
  </td>
</tr>

