<div class="row">
  <div class="col-md-9">
    <h1> Tracks </h1>
    <hr>

    <% unless flash[:notice].blank? %>
      <div class="alert alert-success">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    
		<div class="table-responsive-vertical">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Length</th>
            <th>Genre</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Year</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render @tracks %>
        </tbody>
      </table>
    </div>
    <%= will_paginate @tracks, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-3" style="padding-top: 11px;">
  	<div class="table-responsive-vertical tbl-top">
  		<table class="table table-hover">
      	<thead>
       	 <h3>Latest albums</h3>
         <br>
      	</thead>
  			<tbody>
        	<% @latest_albums.each do |album| %>
        	  <tr>
  						<td data-title="Cover"><img class="img-responsive" src=<%= album.cover %> alt=""></td>
    					<td data-title="Name"><%= link_to album.name, album_path(album) %></td>
   			 			<td data-title="Artist"><%= link_to album.artist.name, artist_path(album.artist) %></td>
  					</tr>
  				<% end %>
				</tbody>
			</table>
		</div>
		<%-# radi lokalno -%>
    <% if false %>
  	<div class="table-responsive-vertical tbl-top">
  		<table class="table table-hover">
      	<thead>
       	 <h3>Popular tracks</h3>
         <br>
      	</thead>
        	<% @top_tracks.each do |track| %>
  					<tr>
    					<td data-title="Name"><%= link_to track.name, track_path(track) %></td>
    					<td data-title="Artist"><%= link_to Artist.find(track.artist_id).name, artist_path(Artist.find(track.artist_id)) %></td>
  					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>