<tr>
  <td><%= link_to album.name, superadmin_album_path(album) %></td>
  <td><%= album.year %></td>
  <td><%= link_to album.artist.name, superadmin_album_path(album.artist) %></td>
  <td><%= link_to album.genre.name, superadmin_genre_path(album.genre) %></td>
  <td>
  <div class="btn-group">
    <%= link_to 'Edit', edit_superadmin_album_path(album), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', superadmin_album_path(album), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
    </div>
  </td>
</tr>
