<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <br>
    <h1>Register</h1>
    <br>

  <%= form_for @user do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username, class: 'form-control' %>
    <%= error_for :username, @user.errors %>
    <br>
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
    <%= error_for :email, @user.errors %>
    <br>
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
    <%= error_for :password, @user.errors %>
    <br>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
    <%= error_for :password_confirmation, @user.errors %>
    <br>
    <%= form.submit 'Register', class: 'btn btn-block btn-success' %>
   <% end %>
  </div>
</div>

