<%= display_flash :notice %>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'background.jpg' %>
      <div class="container">
        <div class="carousel-caption">
        <h1 class="display-1">Favorite songs and playlists</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'background3.jpg' %>
      <div class="container">
        <div class="carousel-caption">
        <h1 class="display-1">New songs added every day</h1> 
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'background4.jpg' %>
      <div class="container">
        <div class="carousel-caption">
        <h1 class="display-1">Bring some music to your life</h1>    
        </div>
      </div>
    </div>
    <br>
    <div class="carousel-buttons">
    	<div class="col-xs-3 text-center"></div>
    	<div class="col-xs-3 text-center"><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary btn-block btn-resp"%></div>
    	<div class="col-xs-3 text-center"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary btn-block btn-resp"%></div>
    	<div class="col-xs-3 text-center"></div>
   	</div>
  </div>
  <br>
</div>

