<%= display_flash :notice %>

<div class="jumbotron">
  <h1>Welcome superadmin!</h1>
  <hr>
  <h2> Number of registered users: <%= @users.count %> </h2>
  <hr>
  <h2> Number of tracks: <%= @tracks.count %></h2>
  <%= link_to 'Add track', new_superadmin_track_path, class: 'btn btn-danger' %>
  <hr>
  <h2> Number of albums: <%= @artists.count %></h2>
  <%= link_to 'Add album', new_superadmin_album_path, class: 'btn btn-danger' %>
  <hr>
  <h2> Number of artists: <%= @artists.count %></h2>
  <%= link_to 'Add artist', new_superadmin_artist_path, class: 'btn btn-danger' %>
  <hr>
  <h2> Number of genres: <%= @genres.count %></h2>
  <%= link_to 'Add genre', new_superadmin_genre_path, class: 'btn btn-danger' %>
  <hr>
</div>
